<header class="site-header">
	<img src="{{ site.baseurl }}/assets/images/tt.png" width="940" height="632">
  <div class="con">
    <a href="{{ site.baseurl }}/" class="logo"><span class="logo"><amp-img src="{{ site.baseurl }}/{{ site.logo }}" width="181" height="159" /></span></a>
    <section>
      <h1>Når der er opgaver, din virksomhed ikke kan klare in-house</h1>
    </section>
  </div>
</header>


<div class="page-links">
  <div class="con">
    {% include navigation.html context="/" %}
  </div>
</div>